<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="scds/static/styles/style.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <footer id="main-footer">
        <ul class="footer">
         <li>  <a href="faquser" class="btn btn-light"><i class="fa fa-question-circle"></i>Faq</a></li>        
         <li><a href="contact" class="btn btn-light"><i class="fa fa-comments"></i>Message</a></li>
        </ul>
       </footer>
</body>
</html>